.list {
    &-wrap {
    }

    &-item {
        padding: 10px 20px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 22px;

        input {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &.-complete {
            text-decoration: line-through;
        }

        &-more {
            color: cornflowerblue;
            text-decoration: underline;
        }
    }
}